<nav class="vertical-sidebar">
    <div class="app-logo">
        <a class="logo d-inline-block" href="#">
            <img alt="#" src="{{ frappe.utils.get_url() }}/assets/naidapa_theme/images/logo.png" style="height: auto"
                width="initial !important">
        </a>
    </div>

    <div class="app-nav" id="app-simple-bar">
        <ul class="main-nav p-0 mt-2">
            <li class="menu-title">
                <span>Workspace</span>
            </li>

            {% for page in pages %}
            <li>
                <a href="/app/{{ page.name | lower | replace(' ', '-') }}">
                    {% if page.custom_animated_icon %}
                    <span class="sidebar-item-icon">
                        <iconify-icon icon="line-md:{{ page.custom_animated_icon }}"></iconify-icon>
                    </span>
                    {% else %}
                    <span class="sidebar-item-icon">
                        <iconify-icon icon="line-md:arrow-small-right"></iconify-icon>
                    </span>
                    {% endif %}
                    <span class="sidebar-item-label">{{ page.title }}<span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>